.container-cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    gap: 20px;
}

.container-cadastro input {
    border: 1px solid #000;
    border-radius: 5px;
    width: 200px;
    height: 30px;
}

.cadastrar {
    background-color: #2196F3;
    color: #fff;
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 30px;
}

.cadastrar:hover {
    background-color: #0081eb;
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
}